CORE_SERVICE_PORT=5010
CORE_MYSQL_URL=jdbc:mysql://core-db:3306/finwise_core?createDatabaseIfNotExist=true&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
CORE_MYSQL_USER=finwise
CORE_MYSQL_PASSWORD=finwise
NOTIFICATION_SERVICE_URL=http://notification:5025/graphql
